<div class="calendar-layout">
    <div class="app-card schedule-card">
        <div class="app-card-header">
            <i class="fa-solid fa-calendar-days app-card-icon"></i>
            <h2 class="app-card-title">Agende sua doação!</h2>
        </div>

        <form [formGroup]="scheduleForm" (ngSubmit)="scheduleDonation()" style="margin-top: 50px;">

            <!-- Select blood bank -->
            <div class="form-body">
            <mat-form-field appearance="outline" class="custom-form-field select full-width">
                <mat-label>Banco de sangue disponível</mat-label>
                <mat-select formControlName="availableBloodBanks" required (selectionChange)="onBloodBankSelect($event.value)">
                    <mat-option *ngFor="let bloodBank of availableBloodBanks" [value]="bloodBank.id">
                        {{ bloodBank.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <!-- Select date -->
            <div *ngIf="selectedBloodBankId" class="form-body">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data disponível</mat-label>
                    <input matInput 
                        [matDatepicker]="datepicker" 
                        [matDatepickerFilter]="availableDonationDates"
                        formControlName="selectedDate"
                        (dateChange)="onDateSelected($event.value)" />
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker [calendarHeaderComponent]="customHeader"></mat-datepicker>
                </mat-form-field>

                <!-- Select time -->
                <mat-form-field *ngIf="availableDonationHours" appearance="outline" class="full-width">
                    <mat-label>Horário disponível</mat-label>
                    <mat-select formControlName="donationTime">
                        <mat-option *ngFor="let hour of availableDonationHours" [value]="hour">
                            {{ hour }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Submit -->
            <div class="schedule-button-container">
                <button type="submit" class="schedule-btn">Agendar doação</button>
            </div>
            
        </form>
    </div>


    <div class="app-card">
    <div class="app-card-header">
        <i class="fa-solid fa-bell app-card-icon"></i>
        <h2 class="app-card-title">Datas de doação</h2>
    </div>
    <div class="calendar-stats">
        <div class="calendar-stats-grid">
            <div class='card'>
                <i class="fa-solid fa-calendar-week app-card-icon"></i>
                <div class="app-card-header">  
                    <p>Ultima doação</p>
                </div>
                <p class="calendar-stat-value">{{calendarStats.lastDonationDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class='card'>
                <i class="fa-solid fa-calendar-week app-card-icon"></i>
                <div class="app-card-header">  
                    <p class="calendar-stat-label">Próxima doação</p>
                </div>
                <p class="calendar-stat-value">{{calendarStats.nextDonationDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class='card'>
                <i class="fa-solid fa-clock app-card-icon"></i>
                <div class="app-card-header">  
                    <p>Dias para a próxima doação</p>
                </div>
                <p class="calendar-stat-value">
                {{ calendarStats.daysUntilNextDonation === 0 && isToday(calendarStats.nextDonationDate) ? 'É hoje sua doação!' : calendarStats.daysUntilNextDonation + ' dias' }}
                </p>
            </div>
        </div>
    </div>
</div>
