<div class="header">
    <div class="right">
      @if(isSidenavOpen) {
        <button class="arrow-btn" (click)="onMenuClick()">
          <mat-icon fontIcon="arrow">arrow_back</mat-icon>
        </button>
      } @else {
        <button class="menu-btn" (click)="onMenuClick()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <img src="assets/logo.png" alt="Logo" class="logo" style="margin-left: 30px; width: 152px; height: 69px;">
    </div>
    <div class="left"> 
    <button class="settings-btn">
      <mat-icon>settings</mat-icon>
    </button>
    </div>
</div>

