<div class="header">
    <div class="right">
      <button class="logo-btn" [routerLink]="'/segredinho'">
        <img src="assets/logo.png" alt="Logo" class="logo" style="margin-left: 30px; width: 152px; height: 69px;">
      </button>
    </div>
    <div class="left"> 
      <button class="account-btn" (click)="toggleMenu()">
        <mat-icon>account_circle</mat-icon>
      </button>
      <div class="dropdown-menu" *ngIf="isMenuOpen">
        <ul>
          <li><a [routerLink]="'/login'">Login</a></li>
          <li><a [routerLink]="'/register'">Criar conta</a></li>
        </ul>
      </div>
    </div>
</div>

