<div class="aside-content">
    <ul class="links">
        <li><a [routerLink]="'/dashboard'"><mat-icon>home</mat-icon>Home</a></li>
        <li><a [routerLink]="'/calendar'"><mat-icon>calendar_today</mat-icon>Calendário</a></li>
        <li><a [routerLink]="'/map'"><mat-icon>map</mat-icon>Mapa</a></li>
        <li><a [routerLink]="'/account'"><mat-icon>account_circle</mat-icon>Conta</a></li>
        <li><a [routerLink]="'/questionnaire'"><mat-icon>question_answer</mat-icon>Questionário</a></li>
    </ul>
</div>
