<div class="app-container">
    <app-header></app-header>
    @if(userType === UserRole.User) {
        <app-subheader [userType]=UserRole.User></app-subheader>
    }
    @if(userType === UserRole.Bloodbank) {
        <app-subheader [userType]=UserRole.Bloodbank></app-subheader>
    }
    @if(userType === UserRole.Partner) {
        <app-subheader [userType]=UserRole.Partner></app-subheader>
    }
    <div class="content-wrapper">
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
    </div>
</div>
