<div class="subheader">
    <ul class="links">
        <li class="subheader-link">
            <a routerLink="/dashboard">
                <i class="fas fa-home subheader-icon"></i>
                Home
            </a>
        </li>
        <li class="subheader-link">
            <a routerLink="/calendar">
                <i class="fas fa-calendar subheader-icon"></i>
                Calendário
            </a>
        </li>
        <li class="subheader-link">
            <a routerLink="/map">
                <i class="fas fa-map subheader-icon"></i>
                Mapa
            </a>
        </li>
        <li class="subheader-link">
            <a routerLink="/account">
                <i class="fas fa-user subheader-icon"></i>
                Conta
            </a>
        </li>
        <li class="subheader-link">
            <a routerLink="/questionnaire">
                <i class="fas fa-clipboard-question subheader-icon"></i>
                Questionário
            </a>
        </li>
    </ul>
</div>
