<div class="login-container">
  <form class="login-box">
    <h2>Bem-vindo</h2>

    <div class="input-group">
      <label for="login">Login (email ou usuário)</label>
      <input type="text" id="login" [formGroup]="login" required />
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" id="password" [formGroup]="password" required />
    </div>

    <div class="actions">
      <button type="submit">Entrar</button>
      <a href="#" class="forgot">Esqueci minha senha</a>
    </div>

    <div class="divider"></div>

    <button type="button" class="register">Criar Conta</button>
  </form>
</div>
